body {
	background-color: #e9ebee;
} 

a {
	color: #0000FF;
}

.center {
	text-align: center;
}

.centrerElem {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.success {
	background-color: #009900;
}

.error {
	background-color: red;
}

.success,.error {
	padding: 0.5em;
	border-radius: 10px;
	display: inline-block;
}

/*Header : headband*/
#header {
	background-color: #4267b2;
	height: 42px;
	margin-bottom: 1px;
}

#header-infos {
	position: relative;
	top: 6px;
}

#header-image-facebook{
	float: left;
}

#img-facebook{
	width: 28px;
	height: 28px;
}

#header-menu{
}

#header-menu-ul{
	display: table;
	vertical-align: middle;
}

#header-menu-ul li{
	display: table-cell;
	text-align: center;
	border-left: 1px solid gray;
}

#header-menu-ul li:first-child{
	border-left: none;
}

#header-menu-ul li a{
	color: white;
}

#header-menu-ul li a img{
	margin-right: 5px;
	width: 28px;
	height: 28px;
}

#header-menu-ul li a span{
	vertical-align: middle;
}


/*Partie Connection*/
#login {
	background-color: #4267b2;
}

#loginTitle {
	color: white;
}

#formConnection{
	text-align: center;
}

#formConnection label{
	text-align: center;
	display: inline-block;
	width: 150px;
}

#notif {
	height: 40px;
	display: block;
}

/* Partie ami */
.user-scrollable {
	height:600px;
	background-color:#F8F8FF;
	overflow-y: scroll;
	/*padding: 15px 0 0 0;*/
}

.user-label{
	text-align: center;
	font-size: 16px;
	font-family: Roboto;
	font-weight: bold;
	color: #000000;
	padding: 15px 0 0 0;
}

.friend-number{
	font-style: italic;
	color: #90949c;
}


.user-id:hover a{
	/*padding: 0 0 0 0;*/
	color:  #FF0000;
}

.img-profil-avatar{
	width: 100%;
}

.block{
	display: table;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-bottom-color: #c8c8c8;
	padding: 10px 0 10px 0;

}

/* Partie profil */
#profil {
	background-color: white;
	box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5),
				0 -1px 0 rgba( 255, 255, 255, 0.4);
}

#profil_avatar {
	margin-top: 2px;
	object-fit: cover;
}

#profil_infos {
	text-align: center;
}

#profil_nom{
	font-weight: bold;
}

#profil_id{
	color: gray;
}

#profil_statut{
	font-style: italic;
	word-wrap: break-word;
}

#profil_statut::before {
	content: '« ';
}

#profil_statut::after {
	content: ' »';
}

/* Partie chat */
#chat {
	background-color: white;
	border: 1px solid black;
	width: 260px;
	z-index: 10;
	position: fixed;
}

#chat_toolbar {
	background-color: #4267b2;
	text-align: center;
	cursor: move;
}

#chat_toolbar span {
	color: white;
}

#chat_toolbar_texte {
	text-align: center;
	display: block;
	padding-left: 20px;
	padding-right: 20px;
}

#reduce, #maximize {
	float: right;
	padding-top: 2px;
	padding-right: 3px;
	cursor: pointer;
}

#maximize {
	display: none;
}

#chats {
	overflow-y: auto;
	overflow-x: hidden;
	height: 300px;
}

.chat_message {
	padding-left: 0.5em;
	word-wrap: break-word;
}

.chat_message_id {
	padding-left: 0.5em;
	color: gray;
}

.chat_message_post {
	background-color: #86BB71;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 10px;
	display: inline-block;
}

.chat_message_user {
	padding-right: 0.5em;
	text-align: right;
	word-wrap: break-word;
}

.chat_message_id_user {
	padding-right: 0.5em;
	color: gray;
}

.chat_message_post_user {
	background-color: #0084ff;
	color: white;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 10px;
	display: inline-block;
}

#div_chat_form {
	border-top: 1px solid gray;
	padding-top: 2px;
	padding-left: 4px;
	padding-bottom: 2px;
	min-height: 40px;
}

#div_chat_form input {
	width: 70%;
}


/*********** Message ****************/
.form-send-message{ 
    padding: 15px 0 0 0;
 }

.text-area{
	resize: none;
    overflow: hidden;
    background-color: #F8F8FF;
    border-radius:7px;
    box-shadow: 3px 3px 3px #888888;
}

.btn-submit{
    background-color: #ffffff;
    box-shadow: 3px 3px 3px #888888;
}

.btn-submit:hover{
	text-decoration: underline;
	cursor: pointer;
}

.btn-label-submit{
    font-weight: bold;
    font-style: italic;
    font-family: Roboto;
    font-size: 14px;
    text-align: center;
}

.div-btn-submit{
    padding: 0 0 0 0px;
    display: flex;
    justify-content: flex-end;
    padding: 5px 0 0 0;

}

.div-like{
	display: inline-block;
}

.div-share{
	display: inline-block;
}

.emetteur-alias{
	font-style: italic;
}

.message{
	padding: 15px 15px 15px 15px;
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	word-wrap: break-word;
}

.area-profile-avatar{
	width: auto;
	height: 30px;
}

/************ ShowMessages header ************************/
.header-emetteur{
	padding: 5px 0 5px 0;
}

.area-emetteur{
	display: inline-block;
}

.area-date{
	display: inline-block;
	float: right;
}

.emetteur-time{
	font-style: italic;
}



.post{
	font-family: inherit;
	font-weight: bold;
	margin-left: 10px;
}
.message-list{
	padding: 15px 0 0 0;
	background-color: #ffffff;
	border-radius:7px;
}

.like{
	display: inline-block;
	float: right;
}

.btn-aime:hover{
	text-decoration: underline;
}


/************ Pagination ************************/
.pagination-component{
	text-align: center;
	border-radius: 7px;
	background-color: #ffffff;
	font-family: Verdana;
	font-size: 16px;
}

.index-pagination:hover {
	color: #FF0000;
	font-weight: bold;
}


/*********** Footer ********************************/

.footer{
	text-align: center;
	font-family: Verdana;
	font-size: 12px;
	font-style: italic;
}

.area-post{
	padding: 10px 0px 10px 0;
	background-color:  #F5F5F5;
	border-radius: 3px;
}

.parent{
	padding: 10px 0 10px 0;
	padding-bottom: 1rem;
}